<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Resume</title>
</head>
<body>
<h3>Resume</h3>

<table>

    <tr th:each="resume : ${resumes}">
        <td><b>Name:</b></td>
        <td th:text="${resume.name}"></td>
    </tr>
    <tr th:each="resume : ${resumes}">
        <td><b>Email:</b></td>
        <td th:text="${resume.email}"></td>
    </tr>
    <tr th:each="resume : ${resumes}">
        <td><b>Education:</b></td>
        <td th:text="${resume.education}"></td>
    </tr>
    <tr th:each="resume : ${resumes}">
        <td><b>Experience:</b></td>
        <td th:text="${resume.experience}"></td>
    </tr>
    <tr th:each="resume : ${resumes}">
        <td><b>Skills:</b></td>
        <td th:text="${resume.skill}"></td>
    </tr>


</table>
</body>
</html>