<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Resume</title>
</head>
<body>
<h3>Resume</h3>

<table>
    <tr>
        <td><b>Name:</b></td>
    </tr>
    <tr th:each="user : ${usr}">
        <td th:text="${user.name}"></td>
    </tr>
</table>
<table>
    <tr>
        <td><b>Email:</b></td>
    </tr>
    <tr th:each="user : ${usr}">
        <td th:text="${user.email}"></td>
    </tr>
</table>
<table>
    <tr>
       <td><b>Education:</b></td>
    </tr>
    <tr th:each="education : ${edu}">
        <td th:text="${education.major}"></td>
    </tr>

    <tr th:each="education : ${edu}">
        <td th:text="${education.school}"></td>
    </tr>
    <tr th:each="education : ${edu}">
        <td th:text="${education.gYear}"></td>
    </tr>

</table>
<table>
    <tr>
        <td><b>Experience:</b></td>
    </tr>
    <tr th:each="experience : ${exp}">
        <td th:text="${experience.jobPosition}"></td>
    </tr>
    <tr th:each="experience : ${exp}">
        <td th:text="${experience.company}"></td>
    </tr>

    <tr th:each="experience : ${exp}">
        <td th:text="${experience.duration}"></td>
    </tr>
    <tr th:each="experience : ${exp}">
        <td th:text="${experience.duties}"></td>
    </tr>
</table>
<table>
    <tr>
        <td><b>Skills:</b></td>
    </tr>
    <tr th:each="skill : ${skl}">
        <td th:text="${skill.type}"></td>
        <td th:text="${skill.level}"></td>
    </tr>
</table>

</body>
</html>