<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Resume</title>
</head>
<body>
<form action="#"
      th:action="@{/process}"
      th:object="${resume}"
      method="post">
    <input type="hidden" th:field="*{id}" />
   <!-- <label for="name">First name:</label>-->
    Name :<input type="text" th:field="*{name}" />
    <span th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"></span><br />
    Email :<input type="text" th:field="*{email}" />
    <span th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}"></span><br />
    Education :<textarea rows="3" th:field="*{education}" />
    <span th:if="${#fields.hasErrors('education')}"
          th:errors="*{education}"></span><br />
    Experiance :<textarea rows="3" th:field="*{experience}" />
    <span th:if="${#fields.hasErrors('experience')}"
          th:errors="*{experience}"></span><br />
    Skills :<textarea rows="3" th:field="*{skill}" />
    <span th:if="${#fields.hasErrors('skill')}"
          th:errors="*{skill}"></span><br />

    <input type="submit" value="Submit" />
</form>
</body>
</html>